APP_URL=
NODE_ENV=

# Mongo
MONGO_URL=

# SERVICE EBAY
EBAY_SERVICE_URL =
X_EBAY_SOA_SECURITY_APPNAME =
X_EBAY_SOA_OPERATION_NAME =
XMLS_EBAY =

# Redis
REDIS_HOST=
REDIS_PORT=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
